# Copy to compose.override.yml on the host that runs traefik.
services:
  diary:
    ports: !override []
    networks:
      - narl
      - internal_net
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=narl"
      - "traefik.http.routers.diary.rule=Host(`diary.narl.io`)"
      - "traefik.http.routers.diary.entrypoints=websecure"
      - "traefik.http.routers.diary.tls.certresolver=https_resolver"
      - "traefik.http.services.diary.loadbalancer.server.port=4242"

networks:
  narl:
    external: true
